div.item {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
    border-radius: 10px;
  }
div.menus img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
div.desc {
    padding: 5px;
    text-align: center;
  }
div.menus {
    width: 100%;
  }
  .button-flat {
    border: 1px solid #801515;        /* border: tebal[px] tipe[solid,dashed,dotted] warna[#hex, rgb()]; */
    background-color: #801515;        /* ubah warna background */
    color: #FFFFFF;                   /* ubah warna font */
    font-size: 16px;                  /* ubah ukuran font */
    padding: 0.5em 1em 0.5em 1em;     /* padding: top right bottom left; */
}
.button-flat:hover {
    opacity: 0.8;                     /* ubah tingkat transparansi saat cursor menuju button. 0.0 s.d 1.0 */
}
.button-flat:active {
    background: #550000;              /* ubah background saat button ditekan */
}